[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mitkeys
[access "refs/for/refs/*"]
	read = group user/mitkeys
	push = group user/mitkeys
	label-Code-Review = -2..+2 group user/mitkeys
	label-Verified = -1..+1 group user/mitkeys
	rebase = group user/mitkeys
	removeReviewer = group user/mitkeys
	submit = group user/mitkeys
[access "refs/heads/*"]
	read = group user/mitkeys
	create = group user/mitkeys
	push = +force group user/mitkeys
	pushMerge = group user/mitkeys
[access "refs/tags/*"]
	push = group user/mitkeys
	push = +force group user/mitkeys
